/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083B4C;
    text-align: center;
}

body h1 {
    color: white;
    font-size: 50px;
    margin: 40px 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

#numbers {
    list-style-type: none;
    line-height: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.blue {
    background-color: #1389B2;
}

.green {
    background-color: #0BD6A1;
}

.yellow {
    background-color: #FFD166;
}

.red {
    background-color: #F0466F;
}